@model Student_Mvc.Models.Student
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center text-primary">Edit Student</h1>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Edit">

                        <div class="form-group">
                            <label asp-for="First_Name"></label>
                            <input type="hidden" asp-for="Id" />
                            <input type="text" asp-for="First_Name" class="form-control" placeholder="Enter Employee Name" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Last_Name"></label>
                            <input type="text" asp-for="Last_Name" class="form-control" placeholder="Enter Employee Designation" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Class"></label>
                            <input type="text" asp-for="Class" class="form-control" placeholder="Enter Employee Address" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Roll_No"></label>
                            <input type="text" asp-for="Roll_No" class="form-control" placeholder="Enter Employee Salary" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Percentage"></label>
                            <input type="text" asp-for="Percentage" class="form-control" placeholder="Enter Employee JoiningDate" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="submit" class="btn btn-sm btn-outline-success float-right" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

